@font-face {
    font-family: 'Roboto';
    src: url("assets/fonts/Roboto/Roboto-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: 'Roboto';
    src: url("assets/fonts/Roboto/Roboto-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: 'Roboto';
    src: url("assets/fonts/Roboto/Roboto-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: 'Roboto';
    src: url("assets/fonts/Roboto/Roboto-Light.ttf");
    font-weight: 300;
}
@font-face {
    font-family: 'Roboto';
    src: url("assets/fonts/Roboto/Roboto-Thin.ttf");
    font-weight: 100;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h2 {
    font-weight: 400;
    font-size: 18px;

}

header {
    background-color:  rgb(31, 31, 31);
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: auto;
    margin-top: 10px;
}

.search {
    background-color: transparent;
    border: none;
    margin-top: 10px;
    padding: 20px 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(255, 255, 255, 0.2);
    -moz-box-shadow: 0px 0px 18px 0px rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 18px 0px rgba(255, 255, 255, 0.2);
    color: white;
    cursor: pointer;
    width: 500px;
    height: 50px;
    font-weight: 300;
}

.search:focus {
    outline: 0;
    background-color: rgb(117, 117, 117);
    -webkit-box-shadow: 0px 0px 15px 9px rgba(255, 255, 255, 0.2);
    -moz-box-shadow: 0px 0px 15px 9px rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 15px 9px rgba(255, 255, 255, 0.2);
    transition: all 0.5s ease;       
}

.search::placeholder {
    color: rgba(214, 214, 172, 0.795);
}

body {
    font-family: 'Roboto';
    background-color: rgb(31, 31, 31);
    color: white;
    width: 1440px;
    margin: auto;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    
}

.movies {
    width: 300px;
    height: 520px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px black;
    background-color: var(--secondary-color);
    position: relative;
    overflow: hidden;

}

.rating {
    position: absolute;
    margin-top: -445px;
    margin-left: 240px;
    /* background-color: transparent; */
    border: 2px solid;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    
    -webkit-box-shadow: 0px 0px 48px 28px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 48px 28px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 48px 28px rgba(66, 68, 90, 1);

}

.rating.green {
    color: rgba(6, 187, 96, 0.932);
}

.rating.orange {
    color: orange;
}

.rating.red {
    color: rgba(150, 14, 14, 0.849);
}

.movies img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;      
}

.info {
    color: rgba(214, 214, 172, 0.795);
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    letter-spacing: 0,5px; 
}

.description {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: black;
    padding: 1rem;
    max-height: 100%;
    transform: translateY(101%);
    /* transition: transform 2s, ease-in; */
    transition: 1s ease-in; 
    background-image: linear-gradient(149deg, rgba(243, 243, 243, 1) 30%, rgba(133, 133, 93, 1) 100%);
    opacity: 0.9;
    text-shadow: 2px 1px 6px rgba(168, 168, 171, 0.88);
}

.movies:hover .description {
    transform: translateY(0);
    
}

.footer-item {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 70px;
    margin-right: 70px;
}