/* merriweather-regular - latin */
@font-face {
  font-family: 'Inter';
  src: url("assets/fonts/Inter/static/Inter-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: 'Inter';
  src: url("assets/fonts/Inter/static/Inter-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: 'Merriweather';
  src: url("assets/fonts/Merriweather/Merriweather-Bold.ttf");
  font-weight: 700;
}

.container {
    width: 1440px; /* Для фиксированной вёрстки (первая часть задания) временно замените свойство max-width: 1440px на width: 1440px */
    margin: 0px auto;
    padding: 0 20px;
  }

  * {
    box-sizing: border-box;
    /*border: solid #cd5b5b 1px;*/
  }

  html {
    scroll-behavior: smooth; 
    background-color: black;
  }
  
  .wrapper {
    max-width: 1440px;
    margin: 0 auto;
  }
  /*Intro style start*/

  .wrapper_hero {
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    display: flex;
    width: 1400px;
    height: 910px;
    background: url(./assets/img/header-bg.jpg) no-repeat center;
    background-size: cover;
  }

  .header_logo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1400px;
    height: 90px;
    margin-bottom: 160px;
  }

  .icon {
    width: 50px;
    height: 50px;
    fill: #ffffff;
    margin-left: 20px;
    /*border: solid #f6fa01 1px;*/
    cursor: pointer;
    transition: all 0.5s ease;
  
    
  }
  
  .icon:hover {
    fill: #8f7c45;
    transition: all 0.5s ease;
  }

  .nav {
    margin-left: 695px;
    
    
  }

  .nav-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    /*border: solid #3af700 1px;*/
    flex-grow: 6;
    flex-shrink: 0.5;
    flex-basis: 1440px;
    
  }

  .nav-item {
    margin-right: 30px;
    /*border: solid #f700eb 1px;*/
  }
  
  .nav-item:last-child {
    margin-right: 0px;
  }

  .nav-list2 {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    /*border: solid #3af700 1px;*/
    margin-left: 0px;
    margin-right: 20px;


  }

  .nav-item2 {
    margin-right: 9px;
    /*border: solid #f700eb 1px;*/
  }
  
  .nav-item2:last-child {
    margin-right: 0px;
  }

  .nav-link {
    font-size: 20px;
    line-height: 50px;
    color: white;
    text-decoration: none;
    transition: all 0.5s ease;
  }
  .nav-link:hover, .nav-link:focus, .nav-link:active {
    color: #8f7c45;
    transition: all 0.5s ease;
  }
  .nav-link2 {
    font-size: 20px;
    line-height: 50px;
    color: white;
    text-decoration: none;
  }

  body {
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: white;
  }

  .intro_block {
    width: 500px;
    height: 330px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-grow: 3;
    margin-left: 80px;
  }

  .intro-title {
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 120px;
    width: 500px;
    height: 120px;
    color: white;
    margin-top: 0;
    margin-bottom: 10px;
    
  }

  .intro-subtitle {
    color: white;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    width: 470px;
    height: 120px;
    margin-bottom: 20px;
    margin-top: 0;
  }

  .intro-button {
    width: 220px;
    height: 55px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: #000000;
    margin: 0;    
    border: 1px solid #BDAE82;
    background-color: #BDAE82;
    cursor: pointer;
    transition: all 0.5s ease;
  }


  .intro-button:hover, .intro-button:active {
    transition: all 0.5s ease;
    color: white;
  }

  /*Intro style end*/

  .wrapp-title {
    display: flex;
    flex-wrap: wrap;
    align-content:center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    
  }

  .section-title{
    max-width: 700px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    color: #BDAE82;
    margin-bottom: 60px;
  }
  

  .section-title::before, .section-title::after {
    display: inline-block;
    content: "";
    border-top: 2px solid #BDAE82;
    width: 200px;
    margin: 0 16px;
    transform: translateY(-16px);
}

  .intro_block_possition {
    display: flex;
    position: absolute;
    top: 250px;

  }

  /*Skills style start*/

  .wrapp_skills {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .wrapp_skill {
    max-width: 320px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
  }

  .skills-subtitle1{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    max-width: 280px;

  }

  .skills-subtitle2{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    max-width: 280px;
  }

  /*Skills style end*/

  /*Portfolio style start*/

  .wrapp_portfolio1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    max-height: 220px;
    padding-left: 1px;
    margin-left: 15%;
    margin-bottom: 60px;
  }

  .portfolio-button {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #BDAE82;
    background-color: transparent;
    border: 2px solid #BDAE82;
    width: 220px;
    height: 55px;
    margin-right: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
  }

  .portfolio-button2 {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: black;
    width: 220px;
    height: 55px;
    border: 1px solid #BDAE82;
    background-color: #BDAE82;
    cursor: pointer;
    transition: all 0.5s ease;
  }

  .portfolio-button:hover, .portfolio-button:active {
    color: white;
    transition: all 0.5s ease;
  }

  .portfolio-button2:hover, .portfolio-button2:active {
    color: white;
    transition: all 0.5s ease;
  }

  .wrapp_portfolio2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1400px;
    margin-bottom: 20px;
    justify-content: space-between;
  }


  /*Portfolio style end*/


  /*Video style start*/

  .video_hover {  
    background: url(./assets/img/video.jpg) no-repeat center;    
    
    display: flex;
    height: 705px;
    position: relative;
    justify-content: center;
    align-items: center;
    
  }

  .icon_2 {
    fill: #ffffff;
    transition: all 0.5s ease;
  }
  
  .icon_2:hover {
    fill: #8f7c45;
    transition: all 0.5s ease;
  }

  .possition_button {
    width: 130px;
    height: 130px;
    margin: auto;
    cursor: pointer;
    
  }

  /*Video style end*/


  /*Price style start*/

  span {
    display: block;
  }

  .wrapp_price {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
  }

  .wrapp_block {  
    display: flex;
    flex-wrap: nowrap;  
    border: 2px solid #BDAE82;
    width: 450px;
    height: 505px;
    margin: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }

  .price-subtitle1{
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 56px;
    margin-top: 43px;
    margin-bottom: 20px;
    margin-left: 159px;
    margin-right: 159px;
    
  }

  .price-subtitle2{
    
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 48px;
    color: #BDAE82;
    text-align: center;
    margin-top: 0;
    margin-left: 179px;
    margin-right: 179px;
    margin-bottom: 20px;
  }

  .price-subtitle3{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    margin-top: 0;
    margin-left: 43px;
    margin-right: 43px;
    margin-bottom: 0px;
  }

  .margin_for_button{
    margin-bottom: 20px;
  }

  .pricebutton_style {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    width: 230px;
    height: 55px;
    color: #000000;
    margin: 0;    
    border: 1px solid #BDAE82;
    background-color: #BDAE82;
    cursor: pointer;
    transition: all 0.5s ease;
  }


  .pricebutton_style:hover, .pricebutton_style:active {
    color: white;
    transition: all 0.5s ease;
  }

  /*Price style end*/

  /*Cotact style start*/

  
  .wrapper-contact-backround {  
    background: url(./assets/img/contacts.jpg) no-repeat center;    
    display: flex;
    vertical-align: middle;
    height: 700px;
    width: 1400px;
    background-size: cover;
    border: 0;
    background-size: auto 700px;
    background-position: center center;
  } 

  ::placeholder {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: #BDAE82;
  }

  .search-form {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    flex-direction: row;
    width: 450px;
    left: 930px;
    margin-top: 60px;
    height: 445px;
    
  }

  textarea {
    resize: none;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: #BDAE82;
  }

  input {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: #BDAE82;
  }



    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
    -webkit-text-fill-color: #bdae82;
    transition: background-color 0s ease-in-out 9000s;
  }

  .search-form_wrapp {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 0;
    background-color: transparent;
    margin: 0;
    
    

  }
  .contact_info {
    background: rgba( 0,0,0,.6);
    border: 0;
    width: 450px;
    height: 50px;
    border: 1px solid #BDAE82;
    margin-bottom: 20px;
  }

  .contact_message {
    background: rgba( 0,0,0,.6);
    border: 0;
    width: 450px;
    height: 100px;
    border: 1px solid #BDAE82;
    margin-bottom: 30px;
  }

  .contact_1{
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    color: #BDAE82;
    margin-top: 0;
  }

  .contact-button {
    display: flex;
    flex-wrap: wrap;
    width: 230px;
    height: 55px;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    margin-bottom: 43px;
    border: 0;
    cursor: pointer;
    color: #000000;
    
    
    
    background-color: #BDAE82;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    transition: all 0.5s ease;
  }

  .contact-button:hover, .contact-button:focus, .contact-button:active {
    color: white;
    transition: all 0.5s ease;

  }

  /*Contact style end*/

  .footer_item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 150px;
  }

  .nav-link_footer {
    font-size: 20px;
    line-height: 50px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
  }

  .footer-left{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 200px;
  }

  .right{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 188px;
    justify-content: space-between;
    align-items: center;
  }

  .footer_button {
    width: 32px;
    height: 32px;
    margin: auto;
    fill: #ffffff;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  
  .footer_button:hover {
    fill: #8f7c45;

  }

  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    user-select: none;
    z-index: 15;
    margin-left: 30px;
    display: none;
  }
  
  .line {
    width: 80%;
    height: 3px;
    background: rgb(255, 255, 255);
    margin: 4px 0;
    margin-right: 140px;
    z-index: 15;
    transition: all 0.3s ease-in-out;
  }
  
  .hamburger.open .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .hamburger.open .line2 {
    opacity: 0;
  }
  
  .hamburger.open .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  @media (max-width: 768px) {

    .hamburger {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 40px;
      cursor: pointer;
      user-select: none;
      z-index: 15;
      
      margin-left: 30px;
      display: block;
      margin-top: 15px;
    }
   
    header {
      max-width: 768px; 
      margin: 0px auto;
    }

    .container {
      max-width: 768px; 
      margin: 0px auto;
    }
  
    * {
      box-sizing: border-box;
      /*border: solid #cd5b5b 1px;*/
    }
    
    .wrapper {
      max-width: 768px;
      margin: 0;
      /*border: solid #fdba01 1px;*/
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      
    }
    /*Intro style start*/
  
    .wrapper_hero {
      margin: 0 auto;
      background: url(assets/img/header-bg_small.jpg) no-repeat;
      max-width: 768px;
      max-height: 590px;
    }
  
    .header_logo {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      max-width: 768px;
      height: 90px;
      margin-bottom: 160px;
       /*border: solid #0df705 1px;*/
    }
  
    .icon {
      width: 50px;
      height: 50px;
      fill: #ffffff;
      margin-left: 57px;
      margin-top: 5px;
      /*border: solid #f6fa01 1px;*/
      cursor: pointer;
      transition: all 0.5s ease;
    }
    
    .icon:hover {
      fill: #8f7c45;
      transition: all 0.5s ease;
    }
    
    
    .nav {
      margin-left: 695px;
      display: none;
    }
    
    .nav-item {
      margin-right: 30px;
      /*border: solid #0df705 1px;*/
    }
    
    .nav-item:last-child {
      margin-right: 0px;
    }
  
    .nav-list2 {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
       /*border: solid #3af700 1px;*/
      margin-left: 450px;
      margin-right: 0px; 
  
    }

    body {
      font-family: 'Inter';
      font-style: normal;
      font-size: 16px;
      line-height: 1.2;
      font-weight: normal;
      color: white;
      max-width: 768px;
      
    }
  
    .intro_block {
      width: 400px;
      height: 300px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      flex-grow: 3;
      margin-left: 3px;
      margin-top: 0px;
    }
  
    .intro-title {
      font-style: normal;
      font-weight: normal;
      font-size: 32px;
      line-height: 64px;
      width: 390px;
      height: 50px;
      color: white;
      margin-top: 0;
      margin-bottom: 35px;
      
    }
  
    .intro-subtitle {
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      width: 390px;
      height: 100px;
      margin-bottom: 33px;
      margin-top: 0;
      line-height: 24px;
    }
 
    .intro_block_possition {
      display: flex;
      position: absolute;
      width: 400px;
      height: 300px;
      top: 168px;
      margin-left: 35px;
      
      margin-top: 0px;
    }
  
    /*Intro style end*/

    .wrapp-title {
      display: flex;
      flex-wrap: wrap;
      align-content:center;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      /*border: solid #1201fd 1px;*/
      margin-top: 125px;
      max-height: 70px;
      
    }
  
    .section-title{
      max-width: 500px;
      font-family: Merriweather;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 40px;
      color: #BDAE82;
      margin-bottom: 60px;
      
    }
    
  
    .section-title::before, .section-title::after {
      display: inline-block;
      content: "";
      border-top: 2px solid #BDAE82;
      width: 130px;
      margin: 0 10px;
      transform: translateY(-10px);
  }

     /*Skills style start*/
    .blok_helper1 {
      margin-top: -23px;
      /*border: solid #fd0177 1px;*/
    }
  .wrapp_skills {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 6px;
    margin-left: 10px;
    margin-right: 9px;
    padding-right: 4px;
    /*border: solid #01c2fd 1px;*/
    height: 525px;
   
  }

  .wrapp_skill {
    max-width: 320px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    /*border: solid #a101fd 1px;*/
    margin-top: 30px;
    
  }

  .skills-subtitle1{
    max-width: 280px;
    margin-top: 37px;

  }

  .skills-subtitle2{
    max-width: 287px;
    margin-top: 6px;
    line-height: 23px;
  }

  /*Skills style end*/

  /*Portfolio style start*/
  .blok_helper2 {
    margin-top: 3px;
    /*border: solid #fd0177 1px;*/
  }
  .wrapp_portfolio1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 455px;
    height: 120px;
    padding-left: 1px;
    margin-left: 0;
    margin-top: 35px;
    margin-bottom: 55px;
    /*border: solid #16fd01 1px;*/
    
  }

  .portfolio-button {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #BDAE82;
    background-color: transparent;
    border: 2px solid #BDAE82;
    width: 220px;
    height: 55px;
    margin-right: 0px;
    cursor: pointer;
    transition: all 0.5s ease;
  }

  

  .portfolio-button:hover, .portfolio-button:active {
    color: white;
    transition: all 0.5s ease;
  }

  .portfolio-button2:hover, .portfolio-button2:active {
    color: white;
    transition: all 0.5s ease;
  }

  .wrapp_portfolio2 {
    display: flex;
    flex-direction: column;
    max-width: 768px;
    height: 1738px;
    margin-bottom: 0;
    justify-content: space-between;
    align-items: center;
    margin-top: 2px;
  }
  .blok_helper3 {
    margin-top: 15px;
    /*border: solid #fd0177 1px;*/
  }

  /*Portfolio style end*/


  /*Video style start*/
  .blok_helper4 {
    margin-top: -30px;
    /*border: solid #fd0177 1px;*/
  }

  .video_hover {  
    background: url(./assets/img/video_small.jpg) no-repeat center;    
    
    display: flex;
    width: 768px;
    height: 418px;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
  }

  .icon_2 {
    width: 66px;
    height: 66px;
  }

  /*Video style end*/

  /*Price style start*/

  .blok_helper5 {
    margin-top: -10px;
    /*border: solid #01f5cc 1px;*/
  }

  .wrapp_price {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 36px;
    height: 1640px;
    /*border: solid #01f5cc 1px;*/
    margin-bottom: 60px;
  }

  .wrapp_block {  
    display: flex;
    flex-wrap: nowrap;  
    border: 2px solid #BDAE82;
    width: 420px;
    height: 505px;
    margin-bottom: 50px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
  

  .price-subtitle2{
    width: 100px;
  }

 
  .margin_for_button{
    margin-bottom: 20px;
  }

  /*Price style end*/

  /*Cotact style start*/
  .blok_helper6 {
    margin-top: -9px;
    /*border: solid #01f5cc 1px;*/
  }
  
  .wrapper-contact-backround {  
    background: url(./assets/img/contacts_small.jpg) no-repeat center;    
    display: flex;
    vertical-align:auto;
    height: 600px;
    width: 768px;
    background-size: cover;
    border: 0;
   
    background-position: center center;
  } 

  ::placeholder {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: #BDAE82;
  }

  .search-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 450px;
    left: 138px;
    margin-top: 60px;
    height: 429px;
    
  }

  textarea {
    resize: none;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: #BDAE82;
  }

  .search-form_wrapp {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: transparent;
    margin: 0;
    
    

  }
  .contact_info {
    background: rgba( 0,0,0,.6);
    border: 0;
    width: 450px;
    height: 50px;
    border: 1px solid #BDAE82;
    margin-bottom: 20px;
  }

  .contact_message {
    background: rgba( 0,0,0,.6);
    border: 0;
    width: 450px;
    height: 100px;
    border: 1px solid #BDAE82;
    margin-bottom: 30px;
  }

  .contact_1{
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 64px;
    color: #BDAE82;
    margin-top: 5px;
  }

  .contact-button {
    display: flex;
    flex-wrap: wrap;
    width: 230px;
    height: 55px;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    margin-bottom: 43px;
    border: 0;
    cursor: pointer;
    color: #000000;
    
    
    
    background-color: #BDAE82;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    transition: all 0.5s ease;
  }

  .contact-button:hover, .contact-button:focus, .contact-button:active {
    color: white;
    transition: all 0.5s ease;

  }

  /*Contact style end*/
  .footer_item{
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;
    height: 140px;
  }
  .nav-link_footer {
  margin-top: -15px;
  }
  
  }