/* merriweather-regular - latin */
@font-face {
  font-family: 'Inter';
  src: url("assets/fonts/Inter/static/Inter-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: 'Inter';
  src: url("assets/fonts/Inter/static/Inter-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: 'Merriweather';
  src: url("assets/fonts/Merriweather/Merriweather-Bold.ttf");
  font-weight: 700;
}

.container {
    width: 1440px; /* Для фиксированной вёрстки (первая часть задания) временно замените свойство max-width: 1440px на width: 1440px */
    margin: 0 auto;
    padding: 0 20px;
  }

  * {
    box-sizing: border-box;
    /*border: solid #cd5b5b 1px;*/
  }

  html {
    scroll-behavior: smooth; 
    background-color: black;
  }
  
  .wrapper {
    max-width: 1440px;
    margin: 0 auto;
  }
  /*Intro style start*/

  .wrapper_hero {
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    display: flex;
    width: 1400px;
    height: 910px;
    background: url(./assets/img/header-bg.jpg) no-repeat center;
    background-size: cover;
  }

  .header_logo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1400px;
    height: 90px;
    margin-bottom: 160px;
  }

  .icon {
    width: 50px;
    height: 50px;
    fill: #cdc6db;
    margin-left: 20px;
    /*border: solid #f6fa01 1px;*/
    cursor: pointer;
  
    
  }
  
  .icon:hover {
    fill: #8f7c45;
  }

  .nav {
    margin-left: 570px;
    
    
  }

  .nav-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    /*border: solid #3af700 1px;*/
    flex-grow: 6;
    flex-shrink: 0.5;
    flex-basis: 1440px;
    
  }

  .nav-item {
    margin-right: 30px;
    /*border: solid #f700eb 1px;*/
  }
  
  .nav-item:last-child {
    margin-right: 0px;
  }

  .nav-list2 {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    /*border: solid #3af700 1px;*/
    margin-left: 0px;
    margin-right: 20px;


  }

  .nav-item2 {
    margin-right: 9px;
    /*border: solid #f700eb 1px;*/
  }
  
  .nav-item2:last-child {
    margin-right: 0px;
  }

  .nav-link {
    font-size: 20px;
    line-height: 50px;
    color: white;
    text-decoration: none;
  }
  .nav-link:hover, .nav-link:focus, .nav-link:active {
    color: #8f7c45;
  }
  .nav-link2 {
    font-size: 20px;
    line-height: 50px;
    color: white;
    text-decoration: none;
  }

  body {
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: white;
  }

  .intro_block {
    width: 500px;
    height: 330px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-grow: 3;
    margin-left: 80px;
  }

  .intro-title {
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 120px;
    width: 500px;
    height: 120px;
    color: white;
    margin-top: 0;
    margin-bottom: 10px;
    
  }

  .intro-subtitle {
    color: white;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    width: 470px;
    height: 120px;
    margin-bottom: 20px;
    margin-top: 0;
  }

  .intro-button {
    width: 220px;
    height: 55px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: #000000;
    margin: 0;    
    border: 1px solid #BDAE82;
    background-color: #BDAE82;
    cursor: pointer;
  }


  .intro-button:hover, .intro-button:active {
    background-color: #8f7c45;
    border: 1px solid #8f7c45;
  }

  /*Intro style end*/

  .wrapp-title {
    display: flex;
    flex-wrap: wrap;
    align-content:center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    
  }

  .section-title{
    max-width: 700px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    color: #BDAE82;
    margin-bottom: 60px;
  }
  

  .section-title::before, .section-title::after {
    display: inline-block;
    content: "";
    border-top: 2px solid #BDAE82;
    width: 200px;
    margin: 0 16px;
    transform: translateY(-16px);
}

  /*Skills style start*/

  .wrapp_skills {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .wrapp_skill {
    max-width: 320px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
  }

  .skills-subtitle1{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    max-width: 280px;

  }

  .skills-subtitle2{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    max-width: 280px;
  }

  /*Skills style end*/

  /*Portfolio style start*/

  .wrapp_portfolio1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    max-height: 220px;
    padding-left: 1px;
    margin-left: 15%;
    margin-bottom: 60px;
  }

  .portfolio-button {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #BDAE82;
    background-color: transparent;
    border: 2px solid #BDAE82;
    width: 220px;
    height: 55px;
    margin-right: 5px;
    cursor: pointer;
  }

  .portfolio-button2 {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: black;
    width: 220px;
    height: 55px;
    border: 1px solid #BDAE82;
    background-color: #BDAE82;
    cursor: pointer;
  }

  .portfolio-button:hover, .portfolio-button:active {
    background-color: #8f7c45;
    border: 1px solid #8f7c45;
    color: black;
  }

  .portfolio-button2:hover, .portfolio-button2:active {
    background-color: #8f7c45;
    border: 1px solid #8f7c45;
  }

  .wrapp_portfolio2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1400px;
    margin-bottom: 20px;
    justify-content: space-between;
  }


  /*Portfolio style end*/


  /*Video style start*/

  .video_hover {  
    background: url(./assets/img/video.jpg) no-repeat center;    
    
    display: flex;
    height: 705px;
    position: relative;
    justify-content: center;
    align-items: center;
    
  }

  .icon_2 {
    fill: #ffffff;
  }
  
  .icon_2:hover {
    fill: #8f7c45;
  }

  .possition_button {
    width: 130px;
    height: 130px;
    margin: auto;
    cursor: pointer;
  }

  /*Video style end*/


  /*Price style start*/

  span {
    display: block;
  }

  .wrapp_price {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
  }

  .wrapp_block {  
    display: flex;
    flex-wrap: nowrap;  
    border: 2px solid #BDAE82;
    width: 450px;
    height: 505px;
    margin: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }

  .price-subtitle1{
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 56px;
    margin-top: 43px;
    margin-bottom: 20px;
    margin-left: 159px;
    margin-right: 159px;
    
  }

  .price-subtitle2{
    
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 48px;
    color: #BDAE82;
    text-align: center;
    margin-top: 0;
    margin-left: 179px;
    margin-right: 179px;
    margin-bottom: 20px;
  }

  .price-subtitle3{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    margin-top: 0;
    margin-left: 43px;
    margin-right: 43px;
    margin-bottom: 0px;
  }

  .margin_for_button{
    margin-bottom: 20px;
  }

  .pricebutton_style {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    width: 230px;
    height: 55px;
    color: #000000;
    margin: 0;    
    border: 1px solid #BDAE82;
    background-color: #BDAE82;
    cursor: pointer;
  }


  .pricebutton_style:hover, .pricebutton_style:active {
    background-color: #8f7c45;
    border: 1px solid #8f7c45;
  }

  /*Price style end*/

  /*Cotact style start*/

  
  .wrapper-contact-backround {  
    background: url(./assets/img/contacts.jpg) no-repeat center;    
    display: flex;
    vertical-align: middle;
    height: 700px;
    width: 1400px;
    background-size: cover;
    border: 0;
    background-size: auto 700px;
    background-position: center center;
  } 

  ::placeholder {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: #BDAE82;
  }

  .search-form {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    flex-direction: row;
    width: 450px;
    left: 930px;
    margin-top: 60px;
    height: 445px;
    
  }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
    -webkit-text-fill-color: #bdae82;
    transition: background-color 0s ease-in-out 9000s;
  }

  .search-form_wrapp {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 0;
    background-color: transparent;
    margin: 0;
    
    

  }
  .contact_info {
    background: rgba( 0,0,0,.6);
    border: 0;
    width: 450px;
    height: 50px;
    border: 1px solid #BDAE82;
    margin-bottom: 20px;
  }

  .contact_message {
    background: rgba( 0,0,0,.6);
    border: 0;
    width: 450px;
    height: 100px;
    border: 1px solid #BDAE82;
    margin-bottom: 30px;
  }

  .contact_1{
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    color: #BDAE82;
    margin-top: 0;
  }

  .contact-button {
    display: flex;
    flex-wrap: wrap;
    width: 230px;
    height: 55px;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    margin-bottom: 43px;
    border: 0;
    cursor: pointer;
    color: #000000;
    
    
    
    background-color: #BDAE82;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
  }

  .contact-button:hover, .contact-button:focus, .contact-button:active {
    background-color: #53492b;
  }

  /*Contact style end*/

  .footer_item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 150px;
  }

  .nav-link_footer {
    font-size: 20px;
    line-height: 50px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
  }

  .footer-left{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 200px;
  }

  .right{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 188px;
    justify-content: space-between;
    align-items: center;
  }

  .footer_button {
    width: 32px;
    height: 32px;
    margin: auto;
    fill: #ffffff;
    cursor: pointer;
  }
  
  .footer_button:hover {
    fill: #8f7c45;
  }